.jobcard{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  max-width: 360px;
  width: 100%;
  padding: 8px 16px;

}
.company-info{
  display: flex;
  column-gap: 0.5rem;
}
.company-logo{
  width: 25px;
  height: 40px;
}

.company-logo img {
  width: 100%;
  height: 100%;
}

.company-name {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(139,139,139);
  text-decoration: none;
}
.company-name:hover{
  text-decoration: underline;
}
.role-offered{
  font-weight: 400;
  color: #000000de;
  font-size: 14px;
  line-height: 21px;
}
.location{
  font-weight: 500;
  line-height: 17px;
  font-size: 11px;
}
.job-card-body{
  margin-top: 5px;
}
.estimated-salary{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4d596a;
}
.about-role {
  margin-top: 10px;
}
.about-role-heading{
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #000;
  margin-bottom: 5px;
}
.role-description{
  font-weight: 400;
  color:rgba(0, 0, 0, 0.65);
  line-height: normal;
  font-size: 14px;
}
.experience-heading{
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #8b8b8b;
  margin-top: 10px;
}
.experience-years{
  color: rgba(0, 0, 0, 0.65);
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
}
.job-card-footer{
  margin: 5px 0px;
}
.apply-button {
  padding: 8px 18px;
  width: 100%;
  background-color: rgb(85, 239, 196);
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}